/*Titulos*/


form{
    width: 100%;
}

body {
    text-align: left;
    background: #e7ffee;
}
div{
    border: 1px dashed #081140;
    margin: 10px;
    padding: 5px 60px;
    border-radius: 15px;
    box-shadow: 1px 4px #081140;
}

#datos1{

    color: #1f1bff;


}
#datos2{

    color: #2525ba;
}

#datos3{

    color: #1029ad;
}

#datos4{

    color: blue;
}

#Evaluacion{

    color: black;
    text-align: left;
}

footer{


    text-align: right;
}

#foto{


    height: 250px;

}

header{

    text-align: right;
    color: #081140;
}



#respuestass{


    color: black;

}

header{

    color: #081140;
}